# --- django
# a django secret key can be generated with the following built in function
# from django.core.management.utils import get_random_secret_key
# just use the results of get_random_secret_key()
SECRET_KEY=the-randomly-generated-secret-key

# --- database credentials
# postgres database username
DATABASE_USER=admin
# postgres database password
DATABASE_PASSWORD=12345
# the name of the database
DATABASE_NAME=mymosaicdb
# postgres database host
DATABASE_HOST=localhost
# postgres database port
DATABASE_PORT=5432

# --- external api keys
# removebg api-key
REMOVEBG_API_KEY=INSERT_YOUR_API_KEY_HERE
