__pycache__
*.pyc
.idea
imgconvert/static/imgconvert/scripts/photomosaicold.js
imgconvert/static/imgconvert/scripts/MosaicDisplayold.js
node_modules
/cssgulpfile.js
/build/build/manualAdds/face_landmark_68_model-weights_manifest.json
/build/build/manualAdds/face_landmark_68_model-shard1
/build/build/manualAdds/face_landmark_68_tiny_model-shard1
/build/build/manualAdds/face_landmark_68_tiny_model-weights_manifest.json
/build/build/manualAdds/ssd_mobilenetv1_model-shard1
/build/build/manualAdds/ssd_mobilenetv1_model-weights_manifest.json
/imgconvert/static/imgconvert/scripts/copy-using-face-api.js
.eslintrc
imgconvert/static/imgconvert/scripts/brick.js
imgconvert/static/imgconvert/scripts/bricker.js
imgconvert/static/imgconvert/scripts/tile.js
/imgconvert/templates/imgconvert/mosaic_toolbar_nav.html
/imgconvert/templates/imgconvert/mosaic_toolbar_old.html
/imgconvert/templates/imgconvert/plate_count_dropdown.html
/imgconvert/static/imgconvert/scripts/devoptions.js
