[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"

[packages]
django = "*"
django-model-utils = "*"
django-pandas = "*"
psycopg2 = "*"
django-allauth = "*"
djangorestframework = "*"
django-compressor = "*"
django-compressor-toolkit = "*"

[requires]
python_version = "3.8"
