{% extends 'imgconvert/base.html' %}
{% load static %}
  {% block title %}Mosaic{% endblock title %}
  {% block extra_head %}
    <!-- third party styles -->
    <!-- <link  href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'build/vendor/cropper.min.css' %}">
    <!-- local styles -->
    <link rel="stylesheet" href="{% static 'imgconvert/styles/main.css' %}">
    {% for data in view.color_data %}
      {{ view.color_data|json_script:'colordata' }}
    {% endfor %}
  {% endblock extra_head %}

{% block content %}
<div id="sideBysideContainer" class="container-fluid">

  <div class="row">
    <h1 class="col-md-6">Adjust Image</h1>
    <h1 class="col-md-3">Result</h1>
    <button id="save" type="button" name="button" class="col-md-3" disabled>SAVE</button>
  </div>
  <div class="row display-row">
    <div class="ml-3 position-absolute" id="displayDetectFaces"></div>
    <!-- (cropper.js) Wrap the img/canvas (block) with another block element (container) -->
    <!-- cropper.js requires the img/canvas element to be the same size as container -->
    <div class="col-md-6">
      <div id="containerUploaded" class="img-container">
          <img id="imgUploaded" class=""/>
      </div>
    </div>
    <div class="col-md-6 clearfix">
      <div id="containerResult" class="img-container">
      </div>
    </div>
  </div> <!-- end display images row -->
  <div class="row">
    <div class="col-md-6">
      <input type="file" id="importImage" name="file" accept="image/*">
    </div>
    <div id="paletteContainer" class="col-md-6">
    </div>
  </div> <!-- end controls row -->
</div>

{% endblock content %}

{% block extra_script %}
  <!-- 3rd party scripts -->
  <script type="text/javascript" src="{% static 'build/vendor/face-api.min.js' %}"></script>
  <!-- <script type="text/javascript" src="{% static 'build/vendor/ditherjs.dist.js' %}"></script> -->
  <!-- local scripts -->
  <script type="text/javascript" src="{% static 'build/scripts/bundle_main.js' %}"></script>
  <!-- <script type="text/javascript" src="{% static 'build/scripts/bundle_using-face-api.js' %}"></script> -->

{% endblock extra_script %}
